body {
    background-color:black;
}
h1 {
    color:green;
    text-align: center;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
}
h4 {
  color:green;
  text-align: center;
  font-size:40px;
  font-family: 'Courier New', Courier, monospace;
}
p{
    
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    text-indent: 2em;
    line-height: 2em;
    font-size: 30px;
    color:green;
    }
.vim-caret {
    -webkit-animation: vimCaret 1s linear infinite;
    -o-animation: vimCaret 1s linear infinite;
    animation: vimCaret 1s linear infinite; }
  
  @-webkit-keyframes vimCaret {
    0% {
      background-color: transparent; }
    49% {
      background-color: transparent; }
    50% {
      background-color: rgba(13, 233, 13, 0.2); }
    100% {
      background-color: rgba(255, 255, 255, 0.2); } }
  
  @-o-keyframes vimCaret {
    0% {
      background-color: transparent; }
    49% {
      background-color: transparent; }
    50% {
      background-color: rgba(255, 255, 255, 0.2); }
    100% {
      background-color: rgba(255, 255, 255, 0.2); } }
  
  @keyframes vimCaret {
    0% {
      background-color: transparent; }
    49% {
      background-color: transparent; }
    50% {
      background-color: rgba(255, 255, 255, 0.2); }
    100% {
      background-color: rgba(255, 255, 255, 0.2); } }

      img {
        float: left;
        width:400; 
        height:333;
    
    }
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

   
    
 
    li{
      color:green;
      font-family: 'Courier New', Courier, monospace;
      font-size: 15pt;
      list-style-type: lower-roman;
      line-height: 1em;
      margin-left: 3em;
    }

    